.site-state-posts{
    display: none;    
}
.site-state-categories{
    display: none;    
}
.site-state-tags{
    display: none;    
}
.sub-menu{
    margin-bottom: 2px;    
}
// 针对Code代码标签的美化
code {
    padding: 2px 4px;
    word-wrap: break-word;
    color: #c7254e;
    font-weight: bold;
    background: #f9f2f4;
    border-radius: 3px;
    // font-size: 16px;
}
p {
    // 更改段落行的间距
    margin: 0 0 10px;
}

.main {
    // 更改全局字体大小
    font-size: .8em;
}

.posts-expand .post-title {
    // 更改标题字体大小
    font-size: 2em;
    font-weight: bold;
}

.post-body {
    // 正文字体大小
    // font-size: .8em;
    // 更改 1-6 级标题样式
    h1 {
        border-bottom: 3px solid #eee;
        font-size: 1.8em;
    }
    h1::after{
        content: url('../images/title/h1.svg'); /* 设置伪元素的内容为图标（这里使用了一个unicode字符作为示例） */
        margin-left: .2em;  /* 调整图标和标题之间的距离 */
        opacity: 0;
    }
    h1:hover::after {
        opacity: 1;  /* 在鼠标悬停时显示 SVG */
    }
    h2 {
        border-bottom: 2px solid #eee;
        font-size: 1.5em;
        // color: #EC685A;
        // background: linear-gradient(to right, #ff1e56, #f9c942, #1e90ff);
        // color: transparent;
        // -webkit-background-clip: text;

        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
    h2::after{
        content: url('../images/title/h2.svg'); 
        margin-left: .2em;
        opacity: 0;
    }
    h2:hover::after {
        opacity: 1;
    }
    h3 {
        border-bottom: 0px dotted #eee;
        // color: #6093F5;
        font-size: 1.25em;
    }
    h3::after{
        content: url('../images/title/h3.svg'); 
        margin-left: .2em;
        opacity: 0;
    }
    h3:hover::after {
        opacity: 1;
    }
    h4 {
        font-size: 1.125em;
    }
    h4::after{
        content: url('../images/title/h4.svg'); 
        margin-left: .2em;
        opacity: 0;
    }
    h4:hover::after {
        opacity: 1;
    }
    h5{
        font-size: 1em;
    }
    h5::after{
        content: url('../images/title/h5.svg'); 
        margin-left: .2em;
        opacity: 0;
    }
    h5:hover::after {
        opacity: 1;
    }
    h6 {
        font-size: .75em;
    }
    h6::after{
        content: url('../images/title/h6.svg'); 
        margin-left: .2em;
        opacity: 0;
    }
    h6:hover::after {
        opacity: 1;
    }
    // 更改有序列表样式
    /* 设置一级计数器 */
    ol {
        list-style-type: none;  /* 禁用默认的标记样式 */
        counter-reset: counter_lv1;  /* 重置有序列表的计数器 */
        padding-left: 20px;
    }
    ol li {
        position: relative;
    }
    ol li::before {
        counter-increment: counter_lv1;
        content: counter(counter_lv1) "."; 
        font-weight: bold; 
        color: #DC7060;
        position: absolute;
        margin-left: -1.5em;
    }
    /* 设置二级计数器 */
    ol ol {
        counter-reset: counter_lv2;
    }
    ol ol li::before {
        counter-increment: counter_lv2;  
        content: counter(counter_lv2, upper-alpha) "."; 
        font-weight: bold;
        color: #6093F5;
        position: absolute;
    }
    // /* 设置三级计数器 */
    ol ol ol {
        counter-reset: counter_lv3;
    }
    ol ol ol li::before {
        counter-increment: counter_lv3;
        content: counter(counter_lv3, lower-alpha) ".";
        font-weight: bold;
        color: #4a9d4e;
        position: absolute;
    }
    // 更改无序列表
    ul {
        list-style-type: none;  /* 禁用默认的标记样式 */
        padding-left: 20px;
    }
    ul li {
        position: relative;
    }
    ul:not(.nav-tabs) li::before {
        content: '\25C9';  /* 使用特定字符作为无序列表的前缀 */
        color: #DC7060;  /* 设置颜色 */
        font-weight: bold;  /* 设置粗体 */ 
        position: absolute;
        margin-left: -1.5em;
    }
    ul ul {
        list-style-type: none;
    }
    ul:not(.nav-tabs) ul li::before {
        content: '\25C8';
        color: #6093F5;
        font-weight: bold;
        position: absolute;
        margin-right: 0.5em;
    }
    ul ul ul {
        list-style-type: none;
    }
    ul:not(.nav-tabs) ul ul li::before {
        content: '\29BF';
        color: #4a9d4e;
        font-weight: bold;
        position: absolute;
        margin-right: 0.5em;
    }
    // 更改 post 的 img 
    img {
        margin-bottom: 0;
    }
}

.header {
    margin-top: 5px;
}
header.header {
    border-radius: 15px 15px;
}
.site-brand-container {
    border-radius: 15px 15px 0 0;
}
.sidebar-inner {
    border-radius: 15px;
}
.main-inner .post-block {
    margin-top: 5px;
    border-radius: 20px; 
}
.sub-menu.menu {
    border-radius: 15px;
}
.main-inner .post-block:not(:first-child):not(:first-child) {
    border-radius: 20px; 
}
.posts-expand .post-header {
    margin-bottom: 20px; // 正文和 header 的距离
}
// 头像框修改
.site-author-image {
//   display: block;
//   margin: 0 auto;
//   padding: $site-author-image-padding;
//   max-width: $site-author-image-width;
//   height: $site-author-image-height;
//   border: $site-author-image-border-width solid $site-author-image-border-color;
 // 修改头像边框
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
// 更改 next 的居中 center-quote
.blockquote-center {
    margin-top: 0px;
    margin-bottom: 15px;
}
.blockquote-center::before {
    border-top: none;
    content: none;
}
.blockquote-center::after {
    border-bottom: none;
    content: none;
}
// 更改注释框样式
.post-body .note {
    border-left: 5px solid;
    // padding: 1em 1em 1em .5em;
}
.post-body .note:not(.no-icon)::before { 
    top: calc(50% - .8em);
    left: 0.25em;
    padding-right: .8em;
}

.post-body .note.primary:not(.no-icon)::before {
    content: url('../images/note/primary.svg');
}
.post-body .note.success:not(.no-icon)::before {
    content: url('../images/note/success.svg');
    color: #74B666;
    font-weight: normal;
}
.post-body .note.info:not(.no-icon)::before {
    content: url('../images/note/info.svg');
}
.post-body .note.warning:not(.no-icon)::before {
    content: url('../images/note/warning.svg');
}
.post-body .note.danger:not(.no-icon)::before {
    content: url('../images/note/danger.svg');
}